[Desktop Entry]
Comment=Overleaf, online LaTeX editor. ShareLatTeX
Exec=firefox --new-window 'overleaf.com'
Icon=/usr/share/icons/overleaf.png
Name=OverLeaf
Categories=X-Latex;
StartupNotify=false
Type=Application